*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: #faf9f6;
    color: #20211a;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url("file.png");
    background-size: cover;
    background-position: center;
}

nav {
    background: #fefefa;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0e4c92; 
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}

nav ul li a:hover::after {
    width:100%;
}

.header-text h1 {
    font-size:60px;
    margin-top: 20px;
    padding-top: 100px;
    text-align: center;
}

#about {
    padding: 80px 0;
    color: #1f1d1b;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ab-me-col1{
    flex-basis: 40%;
}

.ab-me-col2{
    flex-basis: 60%;
}

.ab-me-col1 img{
    border-radius:50x;
    width: 100%;
    height: auto;
    padding: 20px 50px;;
}

.subtitle {
    font-size: 60px;
    font-weight: 600; 
    margin-left: 10px;
}

/*---------portfolio------*/
#portfolio {
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), #0e5f92);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: #fff;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.work:hover img{
    transform: scale(1.1)
}

/*---------contact------*/
.contact-left{
    flex-basis: 35%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i{
    color: #0e4c92;
    margin-right: 15px;
    font-size: 25px;
    margin-left: 30px;
}

.social-icons {
    margin-top: 30px;
}


.social-icons a {
    margin-right: 5px;
    text-decoration: none;
    font-size: 30px;
    color: #1f1d1b;
    display: inline-block;
    margin-left: 30px;
    transition: transform 0.5s;
    margin-bottom: 30px;
}
.social-icons a:hover {
    color: #0e4c92;
    transform: translateY(-5px);

}

.contact-right{
    flex-basis: 60%;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    font-size: 18px;
}

form .btn {
    padding: 14px 60px;
    font-size: 18px;
    margin: 20px 0;
    cursor: pointer;
    background-color: #0e4c92;
    display: inline-block;
    border-radius: 10px;
    color: white;
}

nav .fas{
    display: none;
}

#msg {
    color:#20211a;
    margin-top: 10px;
    display: block;
    padding-bottom: 80px;
}
@media only screen and (max-width: 600px) {
   
    .header-text {
        font-size: 30px;
    }

    nav .fas {
        display: block;
        font-size: 25px;
        float: right;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        background: #0e4c92;
        color:#faf9f6;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul li a {
        color:#faf9f6;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .subtitle {
        font-size: 40px;
    }

    .ab-me-col1, .ab-me-col2 {
        flex-basis: 100%;
    }

    .ab-me-col1 {
        margin-bottom: 30px;
    }

    .ab-me-col2 {
        font-size: 14px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    .contact-right {
        margin-left: 10px;
    }
}

html {
    scroll-behavior: smooth;
}